<div id="header">
	<div id="logo">Logo</div>
	<div id="login">
		<a href="#">Login</a>
	</div>
</div>

<div id="mainContainer">
	<form accept-charset="UTF-8" action="/signup" class="sign-up-form" method="post">
		<input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="C1TJZY0ak53zs4L301fEnv19a/XQA8jksraPoIa9MzQ="></div>
			<div class="left">
				<input id="user_email" name="user[email]" placeholder="E-mail address" size="30" type="text">
			</div>
			<div class="left">
				<input id="user_password" name="user[password]" placeholder="Password" size="30" type="password">
			</div>
			<button class="button blue small eq left" id="submit" name="button" type="submit">Sign up</button>
			<div class="clear"></div>
	</form>
</div>

<div id="footer"></div>
