<div class="mainContainer background">
	<div class="software_title container">
		<h1>Editing software</h1>
	</div>

	<div class="container">
		<%= render 'form' %>
	</div>

	<div class="nav_links container">
		<%= link_to 'Back to Profile', profile_path %>
	</div>
</div>
