/* Header styling */
.left {
	float: left;
}

.border {
	border: 0px solid #FFFFFF;
	padding: 20px 0 20px 50px;
}

.header {
	height: 120px;
}

.header h1 {
	font-size: 40px;
	font-family: "Nevis";
	margin-top: 20px;
}

.a_link {
	font-family: "Nevis";
	font-size: 20px;
}

.header_link a {
	text-decoration: none;
}

.header_link a:hover {
	text-decoration: none;
	color: #bed95f;
}

/* Main Container Styling */
.software_actions {
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;

}

.software_actions a:hover {
	text-decoration: none;
	color: #bed95f;
}

.table {
   border-spacing: 10px;
   border: 2px solid #000000; 
}

.table_header {
	color: #FFFFFF;
}

.table_header2 {
	color: #FFFFFF;
	left: 150px;
	position: relative;
}

.add_program {
	margin: 20px 0 0 180px;
}

.add_program h2 {
	font-size: 30px;
}

.add_program a {
	margin: 15px auto 0 110px;
}

.round_button {
	display: inline-block;
    text-decoration: none;
    font: bold 12px/12px HelveticaNeue, Arial;
    padding: 8px 11px;
    color: #555 !important;
    border: 1px solid #dedede;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	background: #b7d770;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cae285', endColorstr='#9fcb57'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#cae285), to(#9fcb57)); /*  WebKit */
    background: -moz-linear-gradient(top,  #cae285, #9fcb57);
    border-color: #adc671 #98b65b #87aa4a;
    color: #5d7731;
    text-shadow: 0 1px 0 #cfe5a4;
    -webkit-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;
    -moz-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;
    box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;    
}

.round_button:hover {
    background: #b9d972;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8d872', endColorstr='#b9d972'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#b8d872), to(#b9d972)); /*  WebKit */
    background: -moz-linear-gradient(top,  #b8d872, #b9d972);
    border-color: #8bb14d #83a648 #7d9e45;
    text-shadow: 0 1px 0 #d5e8aa;
    -webkit-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;
    -moz-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;
    box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;    
}

.software_list {
	color: #bed95f;
	font-size: 18px;
	font-family: "Nevis";
}

.side_bar {
	height: 500px;
	width: 200px;
	position: relative;
	margin-top: 10px;
}

.main_container {
	height: 500px;
	width: 700px;
	position: relative;
	margin-left: 10px;
	margin-top: 10px;
}

