.left {
	float: left;
}

.border {
	border-style:solid;
}

.header {
	height: 120px;
}

.side_bar {
	height: 500px;
	width: 200px;
	position: relative;
	margin-top: 10px;
}

.main_container {
	height: 500px;
	width: 700px;
	position: relative;
	margin-left: 10px;
	margin-top: 10px;
}